//======================== VARIABLES ==========================
$primary-color: #d6f0d6;
$secondary-color: red;
$tertiary-color: orange;
$my-color: navy;
body {
    background-color: $primary-color;
}
p {
    color: $secondary-color;
}
div{
    color: $tertiary-color;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
//===================== MIXINS ==========================
/*
A mixin in SCSS is a reusable block of CSS code that can accept parameters 
and be included wherever needed. 
Mixin: A reusable group of CSS styles that can accept parameters and be 
included in multiple places using @include.
*/
@mixin rounded($radius) {
    border-radius: $radius;
    background-color: $tertiary-color;
}

button {
    @include rounded(15px);
}
//===================== NESTED SELECTORS ==========================
nav {
    background-color: #f0f0f0;
    padding: 1rem;
    margin-top: 10px;

    ul {
        list-style: none;
        padding: 0;

        li {
            display: inline-block;
            margin-right: 1rem;

            a {
                display: inline-block;
                color: $my-color;
                text-decoration: none;
                transition: transform 0.3s ease;

                &:hover {
                    text-decoration: underline;
                    transform: scale(1.2);
                }
            }
        }
    }
}
//-------------------------------------------------
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.card {
    @include flex-center;
    height: 200px;
    width: 200px;
    background: lightblue;
    margin: 0 auto; 
}
